@import url("https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,600,700&display=swap");

/* default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif !important;
  /* overflow-x: hidden;  */
}

/* Ensure the root container takes full height */
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: #fbfbff;
}
